In [ ]:
!pip install selenium

In [1]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

In [10]:
driver = webdriver.Chrome(r'C:\Users\prasad kalekar\Selenium\chromedriver.exe')

In [11]:
driver.maximize_window()

In [12]:
driver = webdriver.Chrome('chromedriver.exe')

In [13]:
url = 'https://www.naukri.com/'
driver.get(url)

In [14]:
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input ")
search_job.send_keys('Data Scientist')

In [15]:
search_locn = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
search_locn.send_keys('Bangalore')

In [16]:
search_btn = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search_btn.click()

In [17]:
job_titles = []
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags:
    job_titles.append(i.text)
len(job_titles)

20

In [19]:
job_titles

['Analystics & Modeling Specialist',
 'Senior Data Scientist',
 'Data Scientist - Looking For Immediate Joiners',
 'Assistant Manager - Data Science',
 'Data Scientist',
 'Data Scientist',
 'ACN - Applied Intelligence - Data Scientist - 09',
 'Data Scientist - 2',
 'Data Scientist',
 'Assistant Vice President - Data Scientist - KPO',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist - II',
 'Lead ML Scientist',
 'Python Programming Language Data Science Practitioner',
 'Industry X - Software Engineering',
 'Data Scientist: Artificial Intelligence',
 'ACN - Applied Intelligence - C4DI - Sustainability - 09',
 'Data Scientist',
 'Data Scientist']

In [18]:
company_names = []
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags:
    company_names.append(i.text)
len(company_names)

20

In [20]:
company_names

['Accenture',
 'Wipro',
 'Wipro',
 'Citiustech',
 'Altair',
 'Quest Global',
 'Accenture',
 '24 7 ai',
 'HCLTech',
 'Huquo Consulting Pvt. Ltd',
 'Infinics Global Solutions Pvt Ltd',
 'Boston Consulting Group',
 'Bizongo',
 'Fractal Analytics',
 'Accenture',
 'Accenture',
 'IBM',
 'Accenture',
 'Applied Materials',
 'Applied Materials']

In [21]:
job_skills = []
skills = driver.find_elements(By.XPATH,'//ul[@class="tags has-description"]')
for i in skills:
    job_skills.append(i.text)
len(job_skills)

20

In [22]:
job_skills

['Bfsi\nConsulting\nMachine learning\nOpen source\nPython\nIT Skills\nBusiness process\nMarket research',
 'RapidMiner\nFlask\nRabbit MQ\nNumPy\nDeep Learning\nApache Kafka\nLSTM\nPandas',
 'Data Science\nPredictive Modeling\nRecommendation Engine\nTime Series\nPython\nPredictive Analysis\nSAS\nanalytical',
 'Data Science\nNLP\nMachine Learning\nDeep Learning\nPython\nR\nData Modelling\nAnalytical',
 'Python\nData Science\nJava\nMLOps\nNLP\nData Scientist\nData Modeling\nR Program',
 'Data Scientist\nAzure\nproduct deployment\nAI\nML\nSQL\nPython',
 'Computer science\nAutomation\nMachine learning\nMonitoring\nPython\nlearning\nIT Skills\nData Science',
 'Natural Language Processing\nJava\nSQL queries\npresentation\nPython\nSpeech Recognition\nJavaScript\nNatural Language',
 'pytorch\nIT Skills\nData Science\nMachine Learning\ndeep learning\ntensorflow\nnlp\nreinforcement learning',
 'R\nSQL\nPython\nJava\nC++\ndata visualization techniques\nScala\nHadoop',
 'python\nsql\nTableau\nLooker\nPeople Analytics\nR\nHR\nData Flow',
 'Supply chain\nadvanced analytics\nDue diligence\nNetwork analysis\nConsulting\nManagement consulting\nMachine learning\nPredictive modeling',
 'Python\nData Analytics\nJava\nIT Skills\nBusiness Analytics\nRisk Analytics\nArtificial Intelligence\nCredit Risk',
 'deep learning\nLinux\ndata science\nAnalytical\nMachine learning\nManager Technology\nResearch\nPython',
 'Consulting\nMachine learning\nJavascript\nData processing\nPython\nlearning\nSpark\nDevOps',
 'deep learning\ndata science\nWeb application\nConsulting\nForecasting\nMlflow\nAzure\nTensorflow',
 'IVR\nDisaster recovery\nAgile\nInfrastructure\nTelecommunication\nManagement\nOpen source\nAnalytics',
 'Business process\nData management\nConsulting\nOracle\nBusiness operations\nSQL\nBusiness objects\nAnalytical',
 'deep learning\ndata science\nMachine learning\nCloud\nData collection\nProgramming\nbig data\nAWS',
 'Project management\nAnalytical\nArtificial Intelligence\nMachine learning\nData collection\nSoftware development life cycle\nProject planning\nResource management']

In [23]:
jobs = pd.DataFrame()
jobs['Job Title'] = job_titles
jobs['Company'] = company_names
jobs['Skills'] = job_skills
jobs

,Job Title,Company,Skills
0,Analystics & Modeling Specialist,Accenture,Bfsi\nConsulting\nMachine learning\nOpen sourc...
1,Senior Data Scientist,Wipro,RapidMiner\nFlask\nRabbit MQ\nNumPy\nDeep Lear...
2,Data Scientist - Looking For Immediate Joiners,Wipro,Data Science\nPredictive Modeling\nRecommendat...
3,Assistant Manager - Data Science,Citiustech,Data Science\nNLP\nMachine Learning\nDeep Lear...
4,Data Scientist,Altair,Python\nData Science\nJava\nMLOps\nNLP\nData S...
5,Data Scientist,Quest Global,Data Scientist\nAzure\nproduct deployment\nAI\...
6,ACN - Applied Intelligence - Data Scientist - 09,Accenture,Computer science\nAutomation\nMachine learning...
7,Data Scientist - 2,24 7 ai,Natural Language Processing\nJava\nSQL queries...
8,Data Scientist,HCLTech,pytorch\nIT Skills\nData Science\nMachine Lear...
9,Assistant Vice President - Data Scientist - KPO,Huquo Consulting Pvt. Ltd,R\nSQL\nPython\nJava\nC++\ndata visualization ...
10,Data Scientist,Infinics Global Solutions Pvt Ltd,python\nsql\nTableau\nLooker\nPeople Analytics...
11,Senior Data Scientist,Boston Consulting Group,Supply chain\nadvanced analytics\nDue diligenc...
12,Data Scientist - II,Bizongo,Python\nData Analytics\nJava\nIT Skills\nBusin...
13,Lead ML Scientist,Fractal Analytics,deep learning\nLinux\ndata science\nAnalytical...
14,Python Programming Language Data Science Pract...,Accenture,Consulting\nMachine learning\nJavascript\nData...
15,Industry X - Software Engineering,Accenture,deep learning\ndata science\nWeb application\n...
16,Data Scientist: Artificial Intelligence,IBM,IVR\nDisaster recovery\nAgile\nInfrastructure\...
17,ACN - Applied Intelligence - C4DI - Sustainabi...,Accenture,Business process\nData management\nConsulting\...
18,Data Scientist,Applied Materials,deep learning\ndata science\nMachine learning\...
19,Data Scientist,Applied Materials,Project management\nAnalytical\nArtificial Int...

In [27]:
driver = webdriver.Chrome(r'C:\Users\prasad kalekar\Selenium\chromedriver.exe')

In [28]:
driver.maximize_window()

In [29]:
driver = webdriver.Chrome('chromedriver.exe')

In [30]:
url = 'https://www.naukri.com/'
driver.get(url)

In [32]:
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input ")
search_job.send_keys('Data Analyst')

In [33]:
search_locn = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
search_locn.send_keys('Bangalore')

In [34]:
search_btn = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search_btn.click()

In [35]:
job_titles = []
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags:
    job_titles.append(i.text)
len(job_titles)

20

In [36]:
job_titles

['Senior Data Analyst - PLM Data Migration',
 'Lead Data Analyst',
 'Sr. Data Analyst (SAS Data Management)',
 'Data Analyst',
 'Data Analyst',
 'Senior Data Analyst',
 'Sr Data Analyst',
 'Senior Analyst - Data Management',
 'Data Analyst - Python/Artificial Intelligence',
 'CONSULTANT - DATA ANALYST - CRM ERP',
 'Data Analyst',
 'Contractual Hiring For Top MNC || Business Data Analyst || Bangalore',
 'Master Data Management Business Analyst',
 'Lead Data Analyst(SQL, Python)',
 'Data Analyst',
 'Data Analyst',
 'Lead Data Analyst',
 'HR Data Analyst',
 'Data and Analytics Analyst',
 'Data Analyst 2']

In [37]:
company_names = []
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags:
    company_names.append(i.text)
len(company_names)

20

In [38]:
company_names

['CGI',
 'Mobile Premier League (MPL)',
 'NMS Consultant',
 'IBM',
 'IBM',
 'Groundtruth',
 'Mettox Laboratries',
 'Accenture',
 'iMindYourBusiness',
 'Pratham Books',
 'Phonepe',
 'TeamLease',
 'Accenture',
 'Cimpress',
 'Bsharp',
 'Qualitest',
 'SVB Global Services India Llp',
 'Hitachi Ltd.',
 'IBM',
 'Zynga']

In [39]:
job_skills = []
skills = driver.find_elements(By.XPATH,'//ul[@class="tags has-description"]')
for i in skills:
    job_skills.append(i.text)
len(job_skills)

20

In [40]:
job_skills

['PLM\nData migration\nTest scripts\nCGI\nPackaging\nPLM Data migration\nServiceNow\nTeamcenter',
 'Marketing analytics\nGoogle Analytics\nMachine learning\nHypothesis Testing\nData analytics\nPredictive analytics\nAWS\nSQL',
 'SAS VI\ndata management\nbase sas\nSAS DI\npostgree\nSAS SQL\ndata analytics\ndata analysis',
 'SAP\nAnalytical\nMS Office\nMacros\nData extraction\nTrend analysis\nTroubleshooting',
 'SAP\nAnalytical\nMS Office\nMacros\nData extraction\nFinance\nTrend analysis\nTroubleshooting',
 'Analytics\nPython\nSQL\nCritical Thinking\ndata analysis\nExcel\nAWS',
 'Data analysis\ntableau\nProcess improvement\nConsulting\npower bi\ndata integrity\nData Analyst\nManagement',
 'Publishing\nData management\nAnalytical\nArtificial Intelligence\nConsulting\nIT Skills\nCloud\nBig Data',
 'Python\nVBA\nC++\nSQL server\nAdvanced Excel\nIT Skills\nData Science\nArtificial Intelligence',
 'Data analysis\nPayroll\nNetworking\nMIS\nReconciliation\nMarket research\nHTML\nPhotoshop',
 'Data modeling\nWellness\nData analytics\nMedical insurance\nQlikView\nbig data\nFinancial services\nTravel insurance',
 'Business Analysis\nIT Skills\nOracle\nTableau\nPower BI\nProject Management\nRequirement Gathering',
 'Business analysis\nXML\nConsulting\nAgile\nSDLC\nIT Skills\nBig Data\nTDD',
 'advanced analytics\npython\nData Visualization\nsql\nIT Skills\nTableau\nr\ndata analysis',
 'Usage\nData Analyst\nUser management',
 'PowerBI\nTableau\ncommunication\nanalytical\nGoogle Data Studio\nGoogle Spreadsheets\nMS Excel\nSQL',
 'Data analysis\nSAS\nData management\nProject management\nAnalytical\nRisk management\nOperations\nFinancial services',
 'Data analysis\nData validation\nPackaging\nHealthcare\nhealthcare analytics\ndata integrity\nData Analyst\nJapanese',
 'Interpersonal skills\nCloud\nProgramming\nAnalytics\nPython\nAzure\nAWS\nGCP',
 'Computer science\nSAN\ndata science\nMachine learning\nData Analyst\nQlikView\nGaming\nSQL']

In [41]:
job = pd.DataFrame()
job['Job Title'] = job_titles
job['Company'] = company_names
job['Skills'] = job_skills
job

,Job Title,Company,Skills
0,Senior Data Analyst - PLM Data Migration,CGI,PLM\nData migration\nTest scripts\nCGI\nPackag...
1,Lead Data Analyst,Mobile Premier League (MPL),Marketing analytics\nGoogle Analytics\nMachine...
2,Sr. Data Analyst (SAS Data Management),NMS Consultant,SAS VI\ndata management\nbase sas\nSAS DI\npos...
3,Data Analyst,IBM,SAP\nAnalytical\nMS Office\nMacros\nData extra...
4,Data Analyst,IBM,SAP\nAnalytical\nMS Office\nMacros\nData extra...
5,Senior Data Analyst,Groundtruth,Analytics\nPython\nSQL\nCritical Thinking\ndat...
6,Sr Data Analyst,Mettox Laboratries,Data analysis\ntableau\nProcess improvement\nC...
7,Senior Analyst - Data Management,Accenture,Publishing\nData management\nAnalytical\nArtif...
8,Data Analyst - Python/Artificial Intelligence,iMindYourBusiness,Python\nVBA\nC++\nSQL server\nAdvanced Excel\n...
9,CONSULTANT - DATA ANALYST - CRM ERP,Pratham Books,Data analysis\nPayroll\nNetworking\nMIS\nRecon...
10,Data Analyst,Phonepe,Data modeling\nWellness\nData analytics\nMedic...
11,Contractual Hiring For Top MNC || Business Dat...,TeamLease,Business Analysis\nIT Skills\nOracle\nTableau\...
12,Master Data Management Business Analyst,Accenture,Business analysis\nXML\nConsulting\nAgile\nSDL...
13,"Lead Data Analyst(SQL, Python)",Cimpress,advanced analytics\npython\nData Visualization...
14,Data Analyst,Bsharp,Usage\nData Analyst\nUser management
15,Data Analyst,Qualitest,PowerBI\nTableau\ncommunication\nanalytical\nG...
16,Lead Data Analyst,SVB Global Services India Llp,Data analysis\nSAS\nData management\nProject m...
17,HR Data Analyst,Hitachi Ltd.,Data analysis\nData validation\nPackaging\nHea...
18,Data and Analytics Analyst,IBM,Interpersonal skills\nCloud\nProgramming\nAnal...
19,Data Analyst 2,Zynga,Computer science\nSAN\ndata science\nMachine l...

In [42]:
driver = webdriver.Chrome(r'C:\Users\prasad kalekar\Selenium\chromedriver.exe')

In [43]:
driver.maximize_window()

In [44]:
driver = webdriver.Chrome('chromedriver.exe')

In [45]:
url = 'https://www.naukri.com/'
driver.get(url)

In [46]:
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input ")
search_job.send_keys('Data Scientist')

In [47]:
search_locn = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
search_locn.send_keys('Delhi')

In [48]:
search_btn = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search_btn.click()

In [50]:
job_titles = []
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags:
    job_titles.append(i.text)
job_titles

['Data Scientist',
 'Senior Data Scientist',
 'Opportunity For Data Scientist - Female Candidates ONLY',
 'AVAP Agile Information Systems - Data Scientist - Machine Learning',
 'Data Scientist',
 'Data Scientist',
 'DigitalBCG GAMMA Data Scientist',
 'Data Scientist',
 'Senior Analyst-Data Science',
 'ACN - Applied Intelligence - Data & Insights - CSS - 09',
 'Data Scientist: Advanced Analytics',
 'Assistant Vice President - Data Scientist - KPO',
 'Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist / Senior ML Engineer',
 'ACN - Applied Intelligence - CC - Data Science (IN) - 09',
 'Sr Data Scientist | Gurgaon | WFO',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist']

In [51]:
company_names = []
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags:
    company_names.append(i.text)
company_names

['HCLTech',
 'Boston Consulting Group',
 'PayU Finance',
 'AVAP Agile',
 'ACS Solutions',
 'ACS Solutions',
 'Boston Consulting Group',
 'Siemens',
 'Accenture',
 'Accenture',
 'IBM',
 'Huquo Consulting Pvt. Ltd',
 'Infinics Global Solutions Pvt Ltd',
 'Junglee Games',
 'Indigo Airlines',
 'Accenture',
 'Ofb Tech',
 'TRH Consultancy Services',
 'TRH Consultancy Services',
 'TRH Consultancy Services']

In [52]:
job_skills = []
skills = driver.find_elements(By.XPATH,'//ul[@class="tags has-description"]')
for i in skills:
    job_skills.append(i.text)
job_skills

['pytorch\nIT Skills\nData Science\nMachine Learning\ndeep learning\ntensorflow\nnlp\nreinforcement learning',
 'Supply chain\nadvanced analytics\nDue diligence\nNetwork analysis\nConsulting\nManagement consulting\nMachine learning\nPredictive modeling',
 'python\nNoSQL\nmodel development\nModel Building\nDeep Learning\nData Science\nspark\nDjango',
 'Machine Learning\nIT Skills\nPython\nC++\nLinux\nData science\nPerl',
 'machine learning\npython\ndata science\nsql',
 'machine learning\nData science\ncommunication\nPython\nJupyter\nScrum\nSQL databases\nLean',
 'Supply chain\nComputer science\nadvanced analytics\nArtificial Intelligence\nNetwork analysis\nMachine learning\nManagement consulting\nPredictive modeling',
 'Data analysis\nCoding\nAnalytical\nSignal processing\nData mining\nMATLAB\nCivil engineering\nSQL',
 'Publishing\nArtificial Intelligence\nConsulting\nMachine learning\nAnalytics\nIT Skills\nData Science\nCloud',
 'Supply chain\nData management\nRF\nConsulting\nForecasting\nIT Skills\nData Science\nMachine Learning',
 'Service level\nClaims\nExpense management\nFixed assets\nAgile\nTraining\nadvanced analytics\nCircuit designing',
 'R\nSQL\nPython\nJava\nC++\ndata visualization techniques\nScala\nHadoop',
 'python\nsql\nTableau\nLooker\nPeople Analytics\nR\nHR\nData Flow',
 'data science\nmachine learning\nartificial intelligence\npython\nNLP',
 'deep learning\ndata science\nCoding\nGCP\nMachine learning\nProgramming\nData analytics\nAssociate Director',
 'Consulting\nApplication development\nAnalytics\nSQL\nPython\nSupply chain management\nVersion control\nMachine learning',
 'Data Science\nData Science Engineer\nData Scientist\nlightgmb\nsklearn\nxgboost\nMachine Learning\nDeep Learning',
 'Machine Learning\nData Science\nR\nNLP\nPyTorch\nData Scientist\nKeras\nPython',
 'SQL\nwritten communications\nPyTorch\nspacy\nOracle\nverbal\nTensorFlow\nText Analytics',
 'Python\nPyTorch\nGCP\nData Scientist\nAWS Glue\nAL\nSpark\nSpacy']

In [53]:
job_locn = []
locn = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
for i in locn:
    job_locn.append(i.text)
job_locn

['Noida, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'New Delhi, Mumbai, Chennai, Bangalore/Bengaluru',
 'Hybrid - Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'New Delhi, Bangalore/Bengaluru',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Delhi / NCR, Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Delhi / NCR, Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Kolkata, Mumbai, Nagpur, Hyderabad/Secunderabad, Pune, Chennai, Coimbatore, Bangalore/Bengaluru, Delhi',
 'Delhi / NCR, Noida, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Coimbatore, Bangalore/Bengaluru',
 'Noida, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Coimbatore, Bangalore/Bengaluru, Delhi']

In [54]:
job_d = pd.DataFrame()
job_d['Job Title'] = job_titles
job_d['Company'] = company_names
job_d['Skills'] = job_skills
job_d['Location'] = job_locn
job_d

,Job Title,Company,Skills,Location
0,Data Scientist,HCLTech,pytorch\nIT Skills\nData Science\nMachine Lear...,"Noida, Hyderabad/Secunderabad, Chennai, Bangal..."
1,Senior Data Scientist,Boston Consulting Group,Supply chain\nadvanced analytics\nDue diligenc...,"New Delhi, Mumbai, Chennai, Bangalore/Bengaluru"
2,Opportunity For Data Scientist - Female Candid...,PayU Finance,python\nNoSQL\nmodel development\nModel Buildi...,"Hybrid - Gurgaon/Gurugram, Bangalore/Bengaluru..."
3,AVAP Agile Information Systems - Data Scientis...,AVAP Agile,Machine Learning\nIT Skills\nPython\nC++\nLinu...,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund..."
4,Data Scientist,ACS Solutions,machine learning\npython\ndata science\nsql,"Noida, Hyderabad/Secunderabad, Pune, Chennai, ..."
5,Data Scientist,ACS Solutions,machine learning\nData science\ncommunication\...,"Noida, Hyderabad/Secunderabad, Pune, Chennai, ..."
6,DigitalBCG GAMMA Data Scientist,Boston Consulting Group,Supply chain\nComputer science\nadvanced analy...,"New Delhi, Bangalore/Bengaluru"
7,Data Scientist,Siemens,Data analysis\nCoding\nAnalytical\nSignal proc...,Gurgaon/Gurugram
8,Senior Analyst-Data Science,Accenture,Publishing\nArtificial Intelligence\nConsultin...,Gurgaon/Gurugram
9,ACN - Applied Intelligence - Data & Insights -...,Accenture,Supply chain\nData management\nRF\nConsulting\...,Gurgaon/Gurugram
10,Data Scientist: Advanced Analytics,IBM,Service level\nClaims\nExpense management\nFix...,Gurgaon/Gurugram
11,Assistant Vice President - Data Scientist - KPO,Huquo Consulting Pvt. Ltd,R\nSQL\nPython\nJava\nC++\ndata visualization ...,"Delhi / NCR, Mumbai, Hyderabad/Secunderabad, P..."
12,Data Scientist,Infinics Global Solutions Pvt Ltd,python\nsql\nTableau\nLooker\nPeople Analytics...,"Delhi / NCR, Kolkata, Hyderabad/Secunderabad, ..."
13,Senior Data Scientist,Junglee Games,data science\nmachine learning\nartificial int...,Gurgaon/Gurugram
14,Senior Data Scientist / Senior ML Engineer,Indigo Airlines,deep learning\ndata science\nCoding\nGCP\nMach...,Gurgaon/Gurugram
15,ACN - Applied Intelligence - CC - Data Science...,Accenture,Consulting\nApplication development\nAnalytics...,Gurgaon/Gurugram
16,Sr Data Scientist | Gurgaon | WFO,Ofb Tech,Data Science\nData Science Engineer\nData Scie...,Gurgaon/Gurugram
17,Data Scientist,TRH Consultancy Services,Machine Learning\nData Science\nR\nNLP\nPyTorc...,"Kolkata, Mumbai, Nagpur, Hyderabad/Secunderaba..."
18,Data Scientist,TRH Consultancy Services,SQL\nwritten communications\nPyTorch\nspacy\nO...,"Delhi / NCR, Noida, Kolkata, Mumbai, Hyderabad..."
19,Data Scientist,TRH Consultancy Services,Python\nPyTorch\nGCP\nData Scientist\nAWS Glue...,"Noida, Kolkata, Mumbai, Hyderabad/Secunderabad..."

In [2]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

In [3]:
driver = webdriver.Chrome(r'C:\Users\prasad kalekar\Selenium\chromedriver.exe')

In [4]:
driver.maximize_window()
driver = webdriver.Chrome('chromedriver.exe')

In [5]:
url = ' https://www.flipkart.com/'

driver.get(url)

In [9]:
search_item = driver.find_element(By.CLASS_NAME,"_3704LK")
search_item.send_keys('Sunglasses')

In [10]:
search_btn = driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search_btn.click()

In [11]:
brand_name = []
brand = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand:
    brand_name.append(i.text)
brand_name

['RESIST EYEWEAR',
 'Resist',
 'Fastrack',
 'PIRASO',
 'VINCENT CHASE',
 'Fastrack',
 'Fastrack',
 'ARICKS',
 'SUNBEE',
 'New Specs',
 'ROYAL SON',
 'ARICKS',
 'PIRASO',
 'Fastrack',
 'PIRASO',
 'Sewell',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'VINCENT CHASE',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Singco India',
 'PIRASO',
 'GANSTA',
 'PIRASO',
 'GANSTA',
 'PROVOGUE',
 'ROZZETTA CRAFT',
 'Elligator',
 'Fastrack',
 'ROZZETTA CRAFT',
 'SUNBEE',
 'Elligator',
 'Fastrack',
 'CRYSTAL CART',
 'ROZZETTA CRAFT',
 'Silver Kartz',
 'ROYAL SON',
 'PIRASO',
 'SHAAH COLLECTIONS']

In [12]:
prd_des = []
des = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in des:
    prd_des.append(i.text)
prd_des

['Polarized, Riding Glasses, UV Protection Wayfarer Sungl...',
 'Toughened Glass Lens, UV Protection, Riding Glasses, Ph...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (59)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection, Polarized Rectangular Sunglasses (Free S...',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (60)',
 'UV Protection, Polarized Rectangular Sunglasses (Free S...',
 'UV Protection Aviator Sunglasses (54)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection, Polarized Round Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (32)',
 'Gradient, UV Protection Aviator Sunglasses (57)',
 'Polarized, UV Protection Rectangular Sunglasses (Free S...',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'Others Cat-eye, Retro Square, Wayfarer Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Mirrored, Night Vision Oval Sunglasses (Free Size)',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...']

In [13]:
len(prd_des)

40

In [14]:
prd_price = []
price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price:
    prd_price.append(i.text)
prd_price

['₹1,399',
 '₹1,399',
 '₹649',
 '₹199',
 '₹649',
 '₹519',
 '₹649',
 '₹236',
 '₹283',
 '₹254',
 '₹569',
 '₹259',
 '₹251',
 '₹579',
 '₹251',
 '₹265',
 '₹616',
 '₹699',
 '₹949',
 '₹679',
 '₹426',
 '₹215',
 '₹251',
 '₹220',
 '₹209',
 '₹296',
 '₹664',
 '₹379',
 '₹197',
 '₹629',
 '₹379',
 '₹190',
 '₹176',
 '₹579',
 '₹189',
 '₹474',
 '₹288',
 '₹664',
 '₹323',
 '₹185']

In [15]:
flip = pd.DataFrame()
flip['Brand'] = brand_name
flip['Description'] = prd_des

flip['Price'] = prd_price
flip

,Brand,Description,Price
0,RESIST EYEWEAR,"Polarized, Riding Glasses, UV Protection Wayfa...","₹1,399"
1,Resist,"Toughened Glass Lens, UV Protection, Riding Gl...","₹1,399"
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹649
3,PIRASO,UV Protection Rectangular Sunglasses (52),₹199
4,VINCENT CHASE,UV Protection Wayfarer Sunglasses (59),₹649
5,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹519
6,Fastrack,UV Protection Shield Sunglasses (Free Size),₹649
7,ARICKS,"UV Protection, Polarized Rectangular Sunglasse...",₹236
8,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹283
9,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹254
10,ROYAL SON,UV Protection Retro Square Sunglasses (60),₹569
11,ARICKS,"UV Protection, Polarized Rectangular Sunglasse...",₹259
12,PIRASO,UV Protection Aviator Sunglasses (54),₹251
13,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹579
14,PIRASO,UV Protection Wayfarer Sunglasses (55),₹251
15,Sewell,"Mirrored, Night Vision, UV Protection, Riding ...",₹265
16,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (55),₹616
17,ROYAL SON,"UV Protection, Polarized Round Sunglasses (54)",₹699
18,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...",₹949
19,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹679
20,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹426
21,Singco India,"UV Protection, Riding Glasses, Others Aviator,...",₹215
22,PIRASO,UV Protection Aviator Sunglasses (54),₹251
23,GANSTA,UV Protection Retro Square Sunglasses (53),₹220
24,PIRASO,UV Protection Wayfarer Sunglasses (32),₹209
25,GANSTA,"Gradient, UV Protection Aviator Sunglasses (57)",₹296
26,PROVOGUE,"Polarized, UV Protection Rectangular Sunglasse...",₹664
27,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹379
28,Elligator,"Others Cat-eye, Retro Square, Wayfarer Sunglas...",₹197
29,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹629
30,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹379
31,SUNBEE,UV Protection Rectangular Sunglasses (Free Size),₹190
32,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹176
33,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹579
34,CRYSTAL CART,"Mirrored, Night Vision Oval Sunglasses (Free S...",₹189
35,ROZZETTA CRAFT,"Polarized, Riding Glasses Sports, Wrap-around ...",₹474
36,Silver Kartz,UV Protection Wayfarer Sunglasses (Free Size),₹288
37,ROYAL SON,"UV Protection, Polarized Round Sunglasses (54)",₹664
38,PIRASO,UV Protection Aviator Sunglasses (58),₹323
39,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹185

In [16]:
driver = webdriver.Chrome(r'C:\Users\prasad kalekar\Selenium\chromedriver.exe')
driver.maximize_window()
driver = webdriver.Chrome('chromedriver.exe')
url = ' https://www.flipkart.com/'

driver.get(url)

In [17]:
search_item = driver.find_element(By.CLASS_NAME,"_3704LK")
search_item.send_keys('Sneakers')

In [18]:
search_btn = driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search_btn.click()

In [19]:
brand_name = []
brand = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand:
    brand_name.append(i.text)
brand_name

['RapidBox',
 'Rzisbo',
 'RED TAPE',
 'RED TAPE',
 'Labbin',
 'PUMA',
 'TR',
 'Kraasa',
 'Kraasa',
 'SCATCHITE',
 'T-ROCK',
 'Layasa',
 'ASTEROID',
 'BRUTON',
 'Robbie jones',
 'RapidBox',
 'KNIGHT WALKERS',
 'KNIGHT WALKERS',
 'TR',
 'Deals4you',
 'HONEY',
 'Elevarse',
 'Magnolia',
 'PUMA',
 'BRUTON',
 'aadi',
 'Shozie',
 'gargcreation',
 'BRUTON',
 'ASTEROID',
 'Kraasa',
 'GFUND',
 'Sparx',
 'World Wear Footwear',
 'BRUTON',
 'Robbie jones',
 'GFUND',
 'HRX by Hrithik Roshan',
 'AMICO',
 'BRUTON']

In [20]:
prd_price = []
price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price:
    prd_price.append(i.text)
prd_price

['₹549',
 '₹449',
 '₹1,249',
 '₹1,079',
 '₹395',
 '₹2,020',
 '₹299',
 '₹499',
 '₹499',
 '₹360',
 '₹395',
 '₹449',
 '₹499',
 '₹389',
 '₹329',
 '₹599',
 '₹749',
 '₹749',
 '₹299',
 '₹389',
 '₹449',
 '₹299',
 '₹299',
 '₹1,966',
 '₹179',
 '₹499',
 '₹549',
 '₹299',
 '₹324',
 '₹499',
 '₹499',
 '₹449',
 '₹873',
 '₹249',
 '₹199',
 '₹349',
 '₹449',
 '₹1,805',
 '₹494',
 '₹574']

In [22]:
flip = pd.DataFrame()
flip['Brand'] = brand_name
flip['Price'] = prd_price
flip

                    Brand   Price
0                RapidBox    ₹549
1                  Rzisbo    ₹449
2                RED TAPE  ₹1,249
3                RED TAPE  ₹1,079
4                  Labbin    ₹395
5                    PUMA  ₹2,020
6                      TR    ₹299
7                  Kraasa    ₹499
8                  Kraasa    ₹499
9               SCATCHITE    ₹360
10                 T-ROCK    ₹395
11                 Layasa    ₹449
12               ASTEROID    ₹499
13                 BRUTON    ₹389
14           Robbie jones    ₹329
15               RapidBox    ₹599
16         KNIGHT WALKERS    ₹749
17         KNIGHT WALKERS    ₹749
18                     TR    ₹299
19              Deals4you    ₹389
20                  HONEY    ₹449
21               Elevarse    ₹299
22               Magnolia    ₹299
23                   PUMA  ₹1,966
24                 BRUTON    ₹179
25                   aadi    ₹499
26                 Shozie    ₹549
27           gargcreation    ₹299
28                 BRUTON    ₹324
29               ASTEROID    ₹499
30                 Kraasa    ₹499
31                  GFUND    ₹449
32                  Sparx    ₹873
33    World Wear Footwear    ₹249
34                 BRUTON    ₹199
35           Robbie jones    ₹349
36                  GFUND    ₹449
37  HRX by Hrithik Roshan  ₹1,805
38                  AMICO    ₹494
39                 BRUTON    ₹574

In [26]:
driver = webdriver.Chrome(r'C:\Users\prasad kalekar\Selenium\chromedriver.exe')
driver.maximize_window()
driver = webdriver.Chrome('chromedriver.exe')
url = 'https://www.myntra.com/shoes'

driver.get(url)

In [27]:
brand_name = []
brand = driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
for i in brand:
    brand_name.append(i.text)
brand_name

['U.S. Polo Assn.',
 'Roadster',
 'Mast & Harbour',
 'HIGHLANDER',
 'Red Tape',
 'U.S. Polo Assn.',
 'Nike',
 'Provogue',
 'Roadster',
 'Eego Italy',
 'Red Tape',
 'Campus',
 'Skechers',
 'El Paso',
 'El Paso',
 'Mactree',
 'U.S. Polo Assn.',
 'El Paso',
 'Red Tape',
 'Provogue',
 'Nike',
 'H&M',
 'ADIDAS',
 'Champs',
 'HRX by Hrithik Roshan',
 'Roadster',
 'Nike',
 'Khadims',
 'Shoetopia',
 'ASIAN',
 'Mactree',
 'U.S. Polo Assn.',
 'Red Tape',
 'Killer',
 'Roadster',
 'Red Tape',
 'Zyla',
 'Mactree',
 'Provogue',
 'Campus',
 'AfroJack',
 'U.S. Polo Assn.',
 'ARIVO',
 'HRX by Hrithik Roshan',
 'H&M',
 'Red Tape',
 'El Paso',
 'Nike',
 'ADIDAS',
 'HIGHLANDER']

In [28]:
prd_des = []
des = driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
for i in des:
    prd_des.append(i.text)
prd_des

['Men Clarkin Sneakers',
 'Men Sneakers',
 'Men Striped Sneakers',
 'Men Sneakers',
 'Men Walking Shoes',
 'Men Colourblocked Sneakers',
 'Men Zoom Winflo 8 Run Shoes',
 'Men Colourblocked Sneakers',
 'Men Sneakers',
 'Men Trekking Shoes',
 'Women Sneakers',
 'Men Walking Sports Shoes',
 'Women GO RUN FAST Shoes',
 'Women Flat Boots',
 'Women Flat Boots',
 'Men Colourblocked PU Sneakers',
 'Men Slip-On Sneakers',
 'Women Solid Heeled Boots',
 "Men's Running Shoes",
 'Men Black Solid Formal Debys',
 'Men AIR MAX 270 Sneakers',
 'Woman Chelsea boots',
 'Women Vertago Running Shoes',
 'Men Mesh Running Shoes',
 'Men Running Shoes',
 'Men Textured Sneakers',
 'Men AIR WINFLO 9 Running Shoes',
 'Men Solid Loafers',
 'Girls Colourblocked Trekking Shoes',
 'Women Slip-On Sneakers',
 'Men Colourblocked PU Sneakers',
 'Men MADRYN 2.O Sneakers',
 'Men Leather Biker Boots',
 'Men Slip-On Sneakers',
 'Men Striped Leather Sneakers',
 'Men Walking Shoes',
 'Women Sandals',
 'Men Colourblocked PU Sneakers',
 'Men Colourblocked Sneakers',
 'Men Running Shoes',
 'Women Colourblocked Sneakers',
 'Men Solid Sneakers',
 'Men Running Shoes',
 'Men Aqua Shoes',
 'Men Trainers',
 'Men Black Mesh Walking Shoes',
 'Women Printed Slip-On Loafers',
 'Men JORDAN Basketball Shoes',
 'Unisex Predator Edge.3 FG',
 'Men Sneakers']

In [29]:
prd_price = []
price = driver.find_elements(By.XPATH,'//div[@class="product-price"]')
for i in price:
    prd_price.append(i.text)
prd_price

['Rs. 1649Rs. 2999(45% OFF)',
 'Rs. 872Rs. 3795(77% OFF)',
 'Rs. 944Rs. 2699(65% OFF)',
 'Rs. 975Rs. 1990(51% OFF)',
 'Rs. 1511Rs. 5599(73% OFF)',
 'Rs. 1649Rs. 2999(45% OFF)',
 'Rs. 6221Rs. 8295(25% OFF)',
 'Rs. 799Rs. 3995(80% OFF)',
 'Rs. 872Rs. 3795(77% OFF)',
 'Rs. 987Rs. 2599(62% OFF)',
 'Rs. 1295Rs. 4799(73% OFF)',
 'Rs. 799Rs. 999(20% OFF)',
 'Rs. 4399Rs. 5499(20% OFF)',
 'Rs. 1082Rs. 4330(75% OFF)',
 'Rs. 1082Rs. 4330(75% OFF)',
 'Rs. 778Rs. 3890(80% OFF)',
 'Rs. 979Rs. 2799( 65 % OFF)',
 'Rs. 1082Rs. 4330(75% OFF)',
 'Rs. 1376Rs. 5099(73% OFF)',
 'Rs. 879Rs. 4495(Rs. 3616 OFF)',
 'Rs. 12595Rs. 13995(10% OFF)',
 'Rs. 2699',
 'Rs. 1799Rs. 2999(40% OFF)',
 'Rs. 1899',
 'Rs. 1839Rs. 4599(60% OFF)',
 'Rs. 943Rs. 4495(79% OFF)',
 'Rs. 7645Rs. 8495(10% OFF)',
 'Rs. 1399',
 'Rs. 899Rs. 1999(55% OFF)',
 'Rs. 447Rs. 699(36% OFF)',
 'Rs. 798Rs. 4200(81% OFF)',
 'Rs. 2209Rs. 3399(35% OFF)',
 'Rs. 2051Rs. 7599(73% OFF)',
 'Rs. 749Rs. 1999(Rs. 1250 OFF)',
 'Rs. 898Rs. 2995(70% OFF)',
 'Rs. 1295Rs. 4799(73% OFF)',
 'Rs. 899Rs. 999(Rs. 100 OFF)',
 'Rs. 798Rs. 3990(80% OFF)',
 'Rs. 799Rs. 3995(80% OFF)',
 'Rs. 1499Rs. 1799(Rs. 300 OFF)',
 'Rs. 849Rs. 4245(80% OFF)',
 'Rs. 1949Rs. 2999(35% OFF)',
 'Rs. 1999',
 'Rs. 1039Rs. 2599(60% OFF)',
 'Rs. 1999',
 'Rs. 1295Rs. 4799(73% OFF)',
 'Rs. 829Rs. 4295(Rs. 3466 OFF)',
 'Rs. 10165Rs. 11295(10% OFF)',
 'Rs. 6999',
 'Rs. 975Rs. 1990(51% OFF)']

In [30]:
myntra = pd.DataFrame()
myntra['Brand'] = brand_name
myntra['Description'] = prd_des

myntra['Price'] = prd_price
myntra

,Brand,Description,Price
0,U.S. Polo Assn.,Men Clarkin Sneakers,Rs. 1649Rs. 2999(45% OFF)
1,Roadster,Men Sneakers,Rs. 872Rs. 3795(77% OFF)
2,Mast & Harbour,Men Striped Sneakers,Rs. 944Rs. 2699(65% OFF)
3,HIGHLANDER,Men Sneakers,Rs. 975Rs. 1990(51% OFF)
4,Red Tape,Men Walking Shoes,Rs. 1511Rs. 5599(73% OFF)
5,U.S. Polo Assn.,Men Colourblocked Sneakers,Rs. 1649Rs. 2999(45% OFF)
6,Nike,Men Zoom Winflo 8 Run Shoes,Rs. 6221Rs. 8295(25% OFF)
7,Provogue,Men Colourblocked Sneakers,Rs. 799Rs. 3995(80% OFF)
8,Roadster,Men Sneakers,Rs. 872Rs. 3795(77% OFF)
9,Eego Italy,Men Trekking Shoes,Rs. 987Rs. 2599(62% OFF)
10,Red Tape,Women Sneakers,Rs. 1295Rs. 4799(73% OFF)
11,Campus,Men Walking Sports Shoes,Rs. 799Rs. 999(20% OFF)
12,Skechers,Women GO RUN FAST Shoes,Rs. 4399Rs. 5499(20% OFF)
13,El Paso,Women Flat Boots,Rs. 1082Rs. 4330(75% OFF)
14,El Paso,Women Flat Boots,Rs. 1082Rs. 4330(75% OFF)
15,Mactree,Men Colourblocked PU Sneakers,Rs. 778Rs. 3890(80% OFF)
16,U.S. Polo Assn.,Men Slip-On Sneakers,Rs. 979Rs. 2799( 65 % OFF)
17,El Paso,Women Solid Heeled Boots,Rs. 1082Rs. 4330(75% OFF)
18,Red Tape,Men's Running Shoes,Rs. 1376Rs. 5099(73% OFF)
19,Provogue,Men Black Solid Formal Debys,Rs. 879Rs. 4495(Rs. 3616 OFF)
20,Nike,Men AIR MAX 270 Sneakers,Rs. 12595Rs. 13995(10% OFF)
21,H&M,Woman Chelsea boots,Rs. 2699
22,ADIDAS,Women Vertago Running Shoes,Rs. 1799Rs. 2999(40% OFF)
23,Champs,Men Mesh Running Shoes,Rs. 1899
24,HRX by Hrithik Roshan,Men Running Shoes,Rs. 1839Rs. 4599(60% OFF)
25,Roadster,Men Textured Sneakers,Rs. 943Rs. 4495(79% OFF)
26,Nike,Men AIR WINFLO 9 Running Shoes,Rs. 7645Rs. 8495(10% OFF)
27,Khadims,Men Solid Loafers,Rs. 1399
28,Shoetopia,Girls Colourblocked Trekking Shoes,Rs. 899Rs. 1999(55% OFF)
29,ASIAN,Women Slip-On Sneakers,Rs. 447Rs. 699(36% OFF)
30,Mactree,Men Colourblocked PU Sneakers,Rs. 798Rs. 4200(81% OFF)
31,U.S. Polo Assn.,Men MADRYN 2.O Sneakers,Rs. 2209Rs. 3399(35% OFF)
32,Red Tape,Men Leather Biker Boots,Rs. 2051Rs. 7599(73% OFF)
33,Killer,Men Slip-On Sneakers,Rs. 749Rs. 1999(Rs. 1250 OFF)
34,Roadster,Men Striped Leather Sneakers,Rs. 898Rs. 2995(70% OFF)
35,Red Tape,Men Walking Shoes,Rs. 1295Rs. 4799(73% OFF)
36,Zyla,Women Sandals,Rs. 899Rs. 999(Rs. 100 OFF)
37,Mactree,Men Colourblocked PU Sneakers,Rs. 798Rs. 3990(80% OFF)
38,Provogue,Men Colourblocked Sneakers,Rs. 799Rs. 3995(80% OFF)
39,Campus,Men Running Shoes,Rs. 1499Rs. 1799(Rs. 300 OFF)
40,AfroJack,Women Colourblocked Sneakers,Rs. 849Rs. 4245(80% OFF)
41,U.S. Polo Assn.,Men Solid Sneakers,Rs. 1949Rs. 2999(35% OFF)
42,ARIVO,Men Running Shoes,Rs. 1999
43,HRX by Hrithik Roshan,Men Aqua Shoes,Rs. 1039Rs. 2599(60% OFF)
44,H&M,Men Trainers,Rs. 1999
45,Red Tape,Men Black Mesh Walking Shoes,Rs. 1295Rs. 4799(73% OFF)
46,El Paso,Women Printed Slip-On Loafers,Rs. 829Rs. 4295(Rs. 3466 OFF)
47,Nike,Men JORDAN Basketball Shoes,Rs. 10165Rs. 11295(10% OFF)
48,ADIDAS,Unisex Predator Edge.3 FG,Rs. 6999
49,HIGHLANDER,Men Sneakers,Rs. 975Rs. 1990(51% OFF)

In [6]:
driver = webdriver.Chrome(r'C:\Users\prasad kalekar\Selenium\chromedriver.exe')
driver.maximize_window()
driver = webdriver.Chrome('chromedriver.exe')
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART'

driver.get(url)

In [11]:
prd_rating = []
rating = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating:
    prd_rating.append(i.text)
prd_rating

['5', '4', '5', '5', '5', '5', '5', '5', '5', '5']

In [12]:
prd_r_summery = []
summary = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in summary:
    prd_r_summery.append(i.text)
prd_r_summery

['Simply awesome',
 'Value-for-money',
 'Perfect product!',
 'Best in the market!',
 'Highly recommended',
 'Worth every penny',
 'Highly recommended',
 'Perfect product!',
 'Great product',
 'Fabulous!']

In [13]:
prd_review = []
review = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in review:
    prd_review.append(i.text)
prd_review

['Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.",
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'Value for money\n5 star rating\nExcellent camera\nBattery backup full day in single charge.\n\nTougher and water resistant design, glossy back.\nThe screen has excellent brightness and contrast.\nApple A13 Bionic is the fastest smartphone chip on the planet.\nExcellent battery life, fast charging support.\nStereo speakers with great quality.',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.']

In [14]:
iphone = pd.DataFrame()
iphone['Ratings'] = prd_rating
iphone['Review Summary'] = prd_r_summery

iphone['FullReview'] = prd_review
iphone

,Ratings,Review Summary,FullReview
0,5,Simply awesome,Really satisfied with the Product I received.....
1,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Best in the market!,Great iPhone very snappy experience as apple k...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
5,5,Worth every penny,Previously I was using one plus 3t it was a gr...
6,5,Highly recommended,What a camera .....just awesome ..you can feel...
7,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
8,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
9,5,Fabulous!,This is my first iOS phone. I am very happy wi...

In [15]:
driver = webdriver.Chrome(r'C:\Users\prasad kalekar\Selenium\chromedriver.exe')
driver.maximize_window()
driver = webdriver.Chrome('chromedriver.exe')
url = ' https://www.azquotes.com/'

driver.get(url)

In [16]:
Quote = []
q = driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in q:
    Quote.append(i.text)
Quote

['The essence of strategy is choosing what not to do.',
 'One cannot and must not try to erase the past merely because it does not fit the present.',
 'Patriotism means to stand by the country. It does not mean to stand by the president.',
 'Death is something inevitable. When a man has done what he considers to be his duty to his people and his country, he can rest in peace. I believe I have made that effort and that is, therefore, why I will sleep for the eternity.',
 'You have to love a nation that celebrates its independence every July 4, not with a parade of guns, tanks, and soldiers who file by the White House in a show of strength and muscle, but with family picnics where kids throw Frisbees, the potato salad gets iffy, and the flies die from happiness. You may think you have overeaten, but it is patriotism.',
 'Be more concerned with your character than your reputation, because your character is what you really are, while your reputation is merely what others think you are.',
 'Weak people revenge. Strong people forgive. Intelligent People Ignore.',
 "A mind is like a parachute. It doesn't work if it is not open.",
 'Never be afraid to raise your voice for honesty and truth and compassion against injustice and lying and greed. If people all over the world...would do this, it would change the earth.',
 'There are three kinds of men. The one that learns by reading. The few who learn by observation. The rest of them have to pee on the electric fence for themselves.',
 "A strong nation, like a strong person, can afford to be gentle, firm, thoughtful, and restrained. It can afford to extend a helping hand to others. It's a weak nation, like a weak person, that must behave with bluster and boasting and rashness and other signs of insecurity.",
 'The difference between stupidity and genius is that genius has its limits.',
 'We the people are the rightful masters of both Congress and the courts, not to overthrow the Constitution but to overthrow the men who pervert the Constitution.',
 'With or without religion, you would have good people doing good things and evil people doing evil things. But for good people to do evil things, that takes religion.',
 'Human kindness has never weakened the stamina or softened the fiber of a free people. A nation does not have to be cruel to be tough.',
 'A person who never made a mistake never tried anything new.',
 'My mission in life is not merely to survive, but to thrive; and to do so with some passion, some compassion, some humor, and some style',
 'Life is short, Break the Rules. Forgive quickly, Kiss slowly. Love truly. Laugh uncontrollably And never regret ANYTHING That makes you smile.',
 'This country will not be a good place for any of us to live in unless we make it a good place for all of us to live in.',
 'In a world filled with hate, we must still dare to hope. In a world filled with anger, we must still dare to comfort. In a world filled with despair, we must still dare to dream. And in a world filled with distrust, we must still dare to believe.',
 'Darkness cannot drive out darkness; only light can do that. Hate cannot drive out hate; only love can do that.',
 'To be a Christian means to forgive the inexcusable because God has forgiven the inexcusable in you.',
 'A man who is good enough to shed his blood for the country is good enough to be given a square deal afterwards.',
 'Kindness is the language which the deaf can hear and the blind can see.',
 'Most folks are as happy as they make up their minds to be.',
 'A happy marriage is the union of two good forgivers.',
 'I believe in Christianity as I believe that the sun has risen: not only because I see it, but because by it I see everything else.',
 'Politics is the art of looking for trouble, finding it everywhere, diagnosing it incorrectly and applying the wrong remedies.',
 "I believe in everything until it's disproved. So I believe in fairies, the myths, dragons. It all exists, even if it's in your mind. Who's to say that dreams and nightmares aren't as real as the here and now?",
 'At the end of your life, you will never regret not having passed one more test, not winning one more verdict or not closing one more deal. You will regret time not spent with a husband, a friend, a child, or a parent.',
 'I never think of the future - it comes soon enough.',
 "Our greatest fear should not be of failure but of succeeding at things in life that don't really matter.",
 'Failure is simply the opportunity to begin again, this time more intelligently.',
 'Music expresses that which cannot be put into words.',
 'Good actions are a guard against the blows of adversity.',
 'Positive thinking will let you do everything better than negative thinking will.',
 "You have enemies? Good. That means you've stood up for something, sometime in your life.",
 "You don't have to be great to start, but you have to start to be great",
 'Let every nation know, whether it wishes us well or ill, that we shall pay any price, bear any burden, meet any hardship, support any friend, oppose any foe to assure the survival and the success of liberty.',
 "If you want total security, go to prison. There you're fed, clothed, given medical care and so on. The only thing lacking... is freedom.",
 'Socialism is a philosophy of failure, the creed of ignorance, and the gospel of envy, its inherent virtue is the equal sharing of misery.',
 'It is the supreme art of the teacher to awaken joy in creative expression and knowledge.',
 "Once you replace negative thoughts with positive ones, you'll start having positive results.",
 "You build on failure. You use it as a stepping stone. Close the door on the past. You don't try to forget the mistakes, but you don't dwell on it. You don't let it have any of your energy, or any of your time, or any of your space.",
 'All my life through, the new sights of Nature made me rejoice like a child.',
 "I've learned that people will forget what you said, people will forget what you did, but people will never forget how you made them feel.",
 'Marriage is not a ritual or an end. It is a long, intricate, intimate dance together and nothing matters more than your own sense of balance and your choice of partner.',
 'When obstacles arise, you change your direction to reach your goal; you do not change your decision to get there.',
 'Time you enjoy wasting, was not wasted.',
 'The next time some academics tell you how important diversity is, ask how many Republicans there are in their sociology department.',
 'Faith is not the belief that God will do what you want. It is the belief that God will do what is right.',
 "If you can't fly then run, if you can't run then walk, if you can't walk then crawl, but whatever you do you have to keep moving forward.",
 'I say that the most liberating thing about beauty is realizing that you are the beholder.',
 'It is hard to imagine a more stupid or more dangerous way of making decisions than by putting those decisions in the hands of people who pay no price for being wrong.',
 'The ultimate measure of a man is not where he stands in moments of comfort and convenience, but where he stands at times of challenge and controversy.',
 'The soldier, above all other people, prays for peace, for he must suffer and bear the deepest wounds and scars of war.',
 'A true leader has the confidence to stand alone, the courage to make tough decisions, and the compassion to listen to the needs of others. He does not set out to be a leader, but becomes one by the equality of his actions and the integrity of his intent.',
 'I am a Soldier, I fight where I am told, and I win where I fight.',
 "Trying to do the Lord's work in your own strength is the most confusing, exhausting, and tedious of all work. But when you are filled with the Holy Spirit, then the ministry of Jesus just flows out of you.",
 "Sports for me is when a guy walks off the court, and you really can't tell whether he won or lost, when he carries himself with pride either way.",
 'Expect the best. Prepare for the worst. Capitalize on what comes.',
 'I became insane, with long intervals of horrible sanity.',
 'Failure is a detour, not a dead-end street.',
 'I am not a product of my circumstances. I am a product of my decisions.',
 'You can cut all the flowers but you cannot keep spring from coming.',
 "Life doesn't run away from nobody. Life runs at people.",
 'In order to succeed, your desire for success should be greater than your fear of failure.',
 "It's difficult to think anything but pleasant thoughts while eating a homegrown tomato.",
 'Too many of us are not living our dreams because we are living our fears.',
 'If the only prayer you ever say in your entire life is thank you, it will be enough.',
 "It's just a job. Grass grows, birds fly, waves pound the sand. I beat people up.",
 'A man must be big enough to admit his mistakes, smart enough to profit from them, and strong enough to correct them.',
 'Our greatest weakness lies in giving up. The most certain way to succeed is always to try just one more time.',
 'This is one small step for a man, one giant leap for mankind.',
 "It has been said, 'time heals all wounds.' I do not agree. The wounds remain. In time, the mind, protecting its sanity, covers them with scar tissue and the pain lessens. But it is never gone.",
 "I have held many things in my hands, and I have lost them all; but whatever I have placed in God's hands, that I still possess.",
 "Welfare's purpose should be to eliminate, as far as possible, the need for its own existence.",
 'Each time, before you intercede, be quiet first, and worship God in His glory. Think of what He can do, and how He delights to hear the prayers of His redeemed people. Think of your place and privilege in Christ, and expect great things!',
 "Failure is not the opposite of success; it's part of success.",
 'No one has ever become poor by giving.',
 'It is not my ability, but my response to God’s ability, that counts.',
 'No matter what people tell you, words and ideas can change the world.',
 'No one is born hating another person because of the color of his skin, or his background, or his religion. People must learn to hate, and if they can learn to hate, they can be taught to love, for love comes more naturally to the human heart than its opposite.',
 'A man should never neglect his family for business.',
 'Those who dare to fail miserably can achieve greatly.',
 'The two most important days in your life are the day you are born and the day you find out why.',
 'We must be global Christians with a global vision because our God is a global God.',
 'With everything that has happened to you, you can either feel sorry for yourself or treat what has happened as a gift. Everything is either an opportunity to grow or an obstacle to keep you from growing. You get to choose.',
 'Don’t let the noise of others’ opinions drown out your own inner voice.',
 'History, despite its wrenching pain, cannot be unlived, but if faced with courage, need not be lived again.',
 "How old would you be if you didn't know how old you are?",
 'Leadership is a privilege to better the lives of others. It is not an opportunity to satisfy personal greed.',
 'If you have good thoughts they will shine out of your face like sunbeams and you will always look lovely.',
 'Never cut a tree down in the wintertime. Never make a negative decision in the low time. Never make your most important decisions when you are in your worst moods. Wait. Be patient. The storm will pass. The spring will come.',
 'An optimist stays up until midnight to see the new year in. A pessimist stays up to make sure the old year leaves.',
 'When the going gets weird, the weird turn pro.',
 "When a train goes through a tunnel and it gets dark, you don't throw away the ticket and jump off. You sit still and trust the engineer.",
 "God doesn't require us to succeed, he only requires that you try.",
 'If you think you are too small to make a difference, try sleeping with a mosquito.',
 'Change your thoughts and you change your world.']

In [17]:
author = []
A = driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in A:
    author.append(i.text)
author

['Michael Porter',
 'Golda Meir',
 'Theodore Roosevelt',
 'Nelson Mandela',
 'Erma Bombeck',
 'John Wooden',
 'Albert Einstein',
 'Frank Zappa',
 'William Faulkner',
 'Will Rogers',
 'Jimmy Carter',
 'Albert Einstein',
 'Abraham Lincoln',
 'Steven Weinberg',
 'Franklin D. Roosevelt',
 'Albert Einstein',
 'Maya Angelou',
 'Mark Twain',
 'Theodore Roosevelt',
 'Michael Jackson',
 'Martin Luther King, Jr.',
 'C. S. Lewis',
 'Theodore Roosevelt',
 'Mark Twain',
 'Abraham Lincoln',
 'Ruth Graham',
 'C. S. Lewis',
 'Groucho Marx',
 'John Lennon',
 'Barbara Bush',
 'Albert Einstein',
 'Francis Chan',
 'Henry Ford',
 'Victor Hugo',
 'Abu Bakr',
 'Zig Ziglar',
 'Winston Churchill',
 'Zig Ziglar',
 'John F. Kennedy',
 'Dwight D. Eisenhower',
 'Winston Churchill',
 'Albert Einstein',
 'Willie Nelson',
 'Johnny Cash',
 'Marie Curie',
 'Maya Angelou',
 'Amy Bloom',
 'Zig Ziglar',
 'John Lennon',
 'Thomas Sowell',
 'Max Lucado',
 'Martin Luther King, Jr.',
 'Salma Hayek',
 'Thomas Sowell',
 'Martin Luther King, Jr.',
 'Douglas MacArthur',
 'Douglas MacArthur',
 'George S. Patton',
 'Corrie Ten Boom',
 'Jim Courier',
 'Zig Ziglar',
 'Edgar Allan Poe',
 'Zig Ziglar',
 'Stephen Covey',
 'Pablo Neruda',
 'Joe Frazier',
 'Bill Cosby',
 'Lewis Grizzard',
 'Les Brown',
 'Meister Eckhart',
 'Muhammad Ali',
 'John C. Maxwell',
 'Thomas A. Edison',
 'Neil Armstrong',
 'Rose Kennedy',
 'Martin Luther',
 'Ronald Reagan',
 'Andrew Murray',
 'Arianna Huffington',
 'Anne Frank',
 'Corrie Ten Boom',
 'Robin Williams',
 'Nelson Mandela',
 'Walt Disney',
 'John F. Kennedy',
 'Mark Twain',
 'John Stott',
 'Wayne Dyer',
 'Steve Jobs',
 'Maya Angelou',
 'Satchel Paige',
 'Mwai Kibaki',
 'Roald Dahl',
 'Robert H. Schuller',
 'Bill Vaughan',
 'Hunter S. Thompson',
 'Corrie Ten Boom',
 'Mother Teresa',
 'Dalai Lama',
 'Norman Vincent Peale']

In [18]:
type_of_quote = []
A = driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in A:
    type_of_quote.append(i.text)
type_of_quote

['Essence, Deep Thought, Transcendentalism',
 'Inspiration, Past, Trying',
 'Country, Peace, War',
 'Inspirational, Motivational, Death',
 '4th Of July, Food, Patriotic',
 'Inspirational, Success, Basketball',
 'Strong, Revenge, Intelligent',
 'Inspirational, Teacher, Religious',
 'Truth, Honesty, Lying',
 'Funny, Reading, Learning',
 'Strong, Thoughtful, Compassion',
 'Love, Funny, Life',
 'Freedom, Men, Democracies Have',
 'God, Religious, Atheist',
 'Respect, Kindness, Character',
 'Inspirational, Motivational, Change',
 'Inspirational, Life, Inspiring',
 'Love, Inspirational, Life',
 'Inspiring, Country, 4th Of July',
 'Inspirational, Dream, Hate',
 'Love, Inspirational, Life',
 'Forgiveness, God, Christian',
 'Country, Men, Squares',
 'Inspirational, Relationship, Positive',
 'Inspirational, Motivational, Positive',
 'Love, Friendship, Relationship',
 'Faith, God, Christian',
 'Art, Freedom, Political Will',
 'Inspirational, Life, Faith',
 'Inspirational, Life, Meaningful',
 'Happiness, Time, Clever',
 'Inspirational, Inspiring, Success',
 'Love, Inspirational, Life',
 'Music, Sound And Music, Musical Life',
 'Adversity, Blow, Action',
 'Positive, Thinking Of You, Attitude',
 'Inspirational, Funny, Life',
 'Inspirational, Life, Motivational',
 'Inspirational, Memorial Day, Freedom',
 'Freedom, Patriotic, Vaccines',
 'Philosophy, Ignorance, Democratic Socialism',
 'Inspirational, Dance, Education',
 'Life, Change, Positive',
 'Life, Bullying, Mistake',
 'Life, Nature, Children',
 'Inspirational, Life, Motivational',
 'Marriage, Love You, Long',
 'Inspirational, Motivational, Success',
 'Love, Inspirational, Life',
 'Diversity, Important, Liberty',
 'Inspirational, God, Faith',
 'Inspirational, Motivational, Inspiring',
 'Beauty, Love Yourself, Your Beautiful',
 'Business, Stupid, Government',
 'Inspirational, Life, Motivational',
 'Peace, Military, War',
 'Inspirational, Leadership, Confidence',
 'Motivational, Military, War',
 'Christian, Jesus, Confusing',
 'Inspirational, Success, Sports',
 'Inspirational, Motivational, Success',
 'Inspirational, Life, Clever',
 'Inspirational, Death, Failure',
 'Inspirational, Life, Motivational',
 'Inspiring, Hope, Spring',
 'Motivational, Running, People',
 'Inspirational, Motivational, Positive',
 'Summer, Food, Garden',
 'Inspirational, Life, Motivational',
 'Inspirational, Life, Thank You',
 'Funny, Sports, Jobs',
 'Being Strong, Wisdom, Stay Strong',
 'Inspirational, Motivational, Positive',
 'Motivational, Positive, Moon',
 'Time, Pain, Get Well',
 'Life, God, Christian',
 'President, Needs, Purpose',
 'God, Faith, Christian',
 'Women, Failure, Successful',
 'Inspirational, Morning, Kindness',
 'Hiding Place, Ability, Baby Boom',
 'Inspirational, Change, Philosophy',
 'Love, Inspirational, Life',
 'Inspirational, Family, Inspiring',
 'Inspirational, Success, Courage',
 'Inspirational, Life, Motivational',
 'Christian, Vision, Missionary',
 'Inspirational, Positive, Regret',
 'Love, Inspirational, Life',
 'Inspirational, Life, Encouragement',
 'Happy Birthday, Baseball, Fun',
 'Leadership, Power, Opportunity',
 'Inspirational, Life, Positive',
 'Inspirational, Encouraging, Patience',
 'New Year, Fun, New Beginnings',
 'Music, Sports, Hunting',
 'Trust, Encouraging, Uplifting',
 'Success, God, Mother',
 'Inspirational, Funny, Change',
 'Inspirational, Motivational, Change']

In [19]:
df = pd.DataFrame()
df['Quote'] = Quote
df['Author'] = author

df['Type of Quote'] = type_of_quote
df

,Quote,Author,Type of Quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
98,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
99,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

In [21]:
driver = webdriver.Chrome(r'C:\Users\prasad kalekar\Selenium\chromedriver.exe')
driver.maximize_window()
driver = webdriver.Chrome('chromedriver.exe')
url =   'https://www.motor1.com/'

driver.get(url)

In [22]:
car = []
c = driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in c:
    car.append(i.text)
car

['Drako GTE',
 'De Tomaso P72',
 'Ferrari LaFerrari',
 'Pagani Huayra',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Ferrari FXX K Evo',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Pagani Huayra Roadster BC',
 'Bugatti Chiron Pur Sport',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*',
 'Most Expensive Cars In The World']

In [23]:
df = pd.DataFrame()
df['Top Cars'] = car
df

                            Top Cars
0                          Drako GTE
1                      De Tomaso P72
2                  Ferrari LaFerrari
3                      Pagani Huayra
4                       McLaren Elva
5                        Czinger 21C
6                      Ferrari Monza
7                 Gordon Murray T.33
8                  Koenigsegg Gemera
9                        Zenvo TSR-S
10                Hennessey Venom F5
11                   Bentley Bacalar
12     Hispano Suiza Carmen Boulogne
13            Bentley Mulliner Batur
14                      Deus Vayanne
15                       SSC Tuatara
16                       Lotus Evija
17               Aston Martin Vulcan
18                        Delage D12
19                 McLaren Speedtail
20                      Rimac Nevera
21                     Pagani Utopia
22              Pininfarina Battista
23                 Ferrari FXX K Evo
24                Gordon Murray T.50
25              Lamborghini Countach
26          Mercedes-AMG Project One
27               Aston Martin Victor
28       Hennessey Venom F5 Roadster
29                  Koenigsegg Jesko
30             Aston Martin Valkyrie
31         W Motors Lykan Hypersport
32                     McLaren Solus
33         Pagani Huayra Roadster BC
34          Bugatti Chiron Pur Sport
35                  Lamborghini Sian
36                  Koenigsegg CC850
37   Bugatti Chiron Super Sport 300+
38                Lamborghini Veneno
39                    Bugatti Bolide
40                   Bugatti Mistral
41               Pagani Huayra Imola
42                      Bugatti Divo
43               SP Automotive Chaos
44                  Pagani Codalunga
45          Mercedes-Maybach Exelero
46                Bugatti Centodieci
47              Rolls-Royce Sweptail
48          Bugatti La Voiture Noire
49            Rolls-Royce Boat Tail*
50  Most Expensive Cars In The World